<?xml version='1.0' encoding='utf-8'?>
<widget id="com.waiter.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Waiter</name>
    <description>Aplicativo de pedidos e gestão do Waiter.</description>
    <author>Waiter</author>
    <content src="dist/index.html" />
    <access origin="https://qylmdbwyjexyzegwcqim.supabase.co" />
    <access origin="https://fonts.googleapis.com" />
    <access origin="https://fonts.gstatic.com" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="AndroidEdgeToEdge" value="false" />
    <preference name="SplashScreenBackgroundColor" value="#f97316" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
